@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
}

@layer base {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --primary: #E50914; /* Red Cinematic */
    --primary-hover: #F40612;
    --surface: #141414;
    --surface-hover: #262626;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
